/** general definition for tags */
.App {
  display: flex;
  flex-direction: column;
}

body {
  height: 100vh;
  margin: 0;
  background-image: url('img/background.jpg');
  background-size: cover;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
}